.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bam
*.bam.bai
*.vcf.gz
*.vcf.gz.csi
*.err/
*.out/
*.fastq.gz
*.fq.gz
*.bam.gz
asub_*.sh
.ipynb_checkpoints/
.rstudio/
.lsbatch/
*.bam.gz.csi
*.fna
*.fna.*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bam
*.bam.bai
*.vcf.gz
*.vcf.gz.csi
*.err/
*.out/
*.fastq.gz
*.fq.gz
*.bam.gz
asub_*.sh
.ipynb_checkpoints/
.rstudio/
.lsbatch/
*.bam.gz.csi
*.fna
*.fna.*
*.gz
*.gz.*
*.csi
*.vcf
*.swp
*.bai
*.bak
*.bed
.future/
